name: Build and Deploy5
on: [push] 

# on:
#   push:
#     branches:
#       - main  # 또는 다른 사용하는 브랜치로 변경

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Node.js with dotenv
      uses: actions/setup-node@v3
      with:
        node-version: 14
        clean: true
        with-dotenv: true

    - name: Install Dependencies
      run: npm install

    - name: Set Environment Variable for React App
      run: | 
        echo "REACT_APP_API_KEY=${{ secrets.REACT_APP_API_KEY }}" >> .env
        echo "REACT_APP_ACTION_TEXT=${{ secrets.REACT_APP_ACTION_TEXT }}" >> .env
        echo "NETLIFY_AUTH_TOKEN=${{ secrets.NETLIFY_AUTH_TOKEN }}" >> .env

    - name: Build React App
      run: npm run build
      env:
        CI: ""

    - name: Debug Secret Value
      run: |
        echo "REACT_APP_API_KEY: ${{ secrets.REACT_APP_API_KEY }}"
        echo "REACT_APP_ACTION_TEXT: ${{ secrets.REACT_APP_ACTION_TEXT }}"
        echo "NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}"

  deploy:
    runs-on: ubuntu-latest
    needs: build
    timeout-minutes: 20
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Node.js with dotenv
      uses: actions/setup-node@v3
      with:
        node-version: 14
        clean: true
        with-dotenv: true

    - name: Install Netlify CLI
      run: npm install -g netlify-cli@latest

    - name: Set up Netlify CLI with Authentication Token
      run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NETLIFY_AUTH_TOKEN }}" > ~/.npmrc

    - name: Deploy to Netlify
      run: netlify deploy --prod --dir=build --site ${{ secrets.NETLIFY_SITE_ID }} --auth $NETLIFY_AUTH_TOKEN
      env:
        CI: ""
        REACT_APP_API_KEY: ${{ secrets.REACT_APP_API_KEY }}
        REACT_APP_ACTION_TEXT: ${{ secrets.REACT_APP_ACTION_TEXT }}
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
